body
{
    display: flex;
    flex-direction: column;
    font: .7em Tahoma, Verdana sans-serif;
    min-width: 1215px;
}

/*------------------------------------navigation-----------------------------*/

p
{
    margin: 0;
}

nav
{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
}

.site-nav
{
    background-color: #3b3b3b;
    justify-content: space-around;
    margin: -8px -8px 0 -8px;
}

.site-nav__item
{
    padding: 5px 20px;
}

.nav__triangle
{
    border-color: #fff #3b3b3b #3b3b3b;
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    vertical-align: 2px;
}

.orange-hover:hover
{
    color: #ff5200;
    transition-duration: .3s;
}

.orange-hover:hover .nav__triangle
{
    border-color: #ff5200 #3b3b3b #3b3b3b;
    transition-duration: .3s;
}

.drop-down
{
    outline: none;
    cursor: pointer;
    position: relative;
}

.drop-down:focus .drop-down__items_hidden
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #3b3b3b;
    position: absolute;
    left: 0;
    top: 23px;
    padding: 5px 0;
}

.drop-down__item
{
    margin: auto;
    flex-basis: 100%;
}

.nav__item
{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.main-news-nav
{
    background-color: #ff5200;
    margin: 0 -8px;
}

.main-news-nav__item:nth-of-type(2n)
{
    background-color: #ff5200;
}

.main-news-nav__item:nth-of-type(2n + 1)
{
    background-color: #23ace3;
}

.main-news-nav__item
{
    padding: 2px 20px;
}

.main-news-nav__item:hover
{
    color: #3b3b3b;
}

/*------------------------------------header---------------------------------*/

.site-header
{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
}

.header__item
{
    text-align: center;
    margin: auto;
}

.header__hr
{
    margin: 5px 0;
}

.font-size_header-big
{
    font-size: 1.5em;
}

.no-margin
{
    margin: 0;
}

.bold
{
    font-weight: 700;
}

.underline
{
    text-decoration: underline;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.traffic-rating
{
    display: inline-block;
    background: url('Images/Header/TrafficBackground.png');
    width: 23px;
    height: 18px;
    padding: 4px 0 0 1px;
    font-weight: 900;
    color: #fff;
}

.black-link
{
    color: black;
}

.black-link:hover
{
    color: #ff4500;
}

.hover-block:hover a
{
    color: #ff4500;
}

.traffic-item
{
    margin: 2px auto;
}

.currency
{
    border-spacing: 10px 0;
}

.currency-name
{
    color: #369;
}

.search-input
{
    width: 200px;
}

.half-search-input
{
    width: 95px;
}

.vertical-align_middle
{
    vertical-align: middle;
}

/*-----------------------------------News------------------------------------*/

.main
{
    display: flex;
    justify-content: space-between;
}

.colspan-1
{
    flex-basis: 19.5%;
}

.colspan-2
{
    flex-basis: 39.5%;
}

.column
{
    display: flex;
    flex-direction: column;
}

.main-news__container
{
    position: relative;
    border: 1px solid black;
    background-color: #000;
}

.main-news__container:hover
{
    border-color: #ff5200;
}

.main-news__container > img
{
    width: 100%;
}

.main-news__description
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 10px solid #ff4500;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.article-header-container
{
    background-color: #676767;
    padding-top: 3px;
    display: block;
}

.section-header
{
    background-color: #e1e1e1;
    padding: 3px 8px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 7px solid #ff4500;
    border-top: 3px solid #676767;
}

.section-header__hr
{
    margin: 0 5px;
    display: inline;
}

.section__part
{
    padding: 7px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.article-image
{
    display: flex;
    margin-right: 10px;
}

.margin_auto
{
    margin: auto;
}

.article__header
{
    font-size: 1.2em;
    margin: 0;
}

.send-news-phone
{
    font-size: 1.2em;
    padding: 10px 0;
}

.meetings
{
    justify-content: space-around;
}

.meetings-article
{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}

.meetings-article__age
{
    color: #999;
}

.meetings-article:nth-of-type(2n + 1) .meetings-article__img img
{
    border: 3px solid #f44f4b;
    width: 100%;
}

.meetings-article:nth-of-type(2n + 1) .meetings-name
{
    color: #f44f4b;
}

.meetings-article:nth-of-type(2n) .meetings-article__img img
{
    border: 3px solid #3a8ccc;
    width: 100%;
}

.meetings-article:nth-of-type(2n) .meetings-name
{
    color: #3a8ccc;
}

/*-----------------------------second column---------------------------------*/

.hr_orange
{
    border: none;
    border-top: 1px solid #ff5200;
}

.two-columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two-columns__column
{
    flex-basis: 49%;
    justify-content: space-between;
}

.article-categories-container
{
    padding: 5px;
}

.categories-left
{
    padding: 10px;
}

.article-category
{
    margin: 0 5px;
}

.no-underline
{
    text-decoration: none;
}

.background-color_gray
{
    background-color: #e1e1e1;
}

.flex-grow_full
{
    flex-basis: 100%;
}

.home
{
    list-style-type: none;
    display: inline-block;
    -webkit-padding-start: 20px;
}

.home__li
{
    display: list-item;
    float: left;
    padding: 6px 10px 6px 32px;
    background: url('Images/News/20.png') no-repeat -7px 3px;
}

.home__li:nth-of-type(2)
{
    background-position: -6px -92px;
}

.home__li:nth-of-type(3)
{
    background-position: -7px -124px;
}

.home__li:nth-of-type(4)
{
    background-position: -6px -27px;
}

.home__li:nth-of-type(5)
{
    background-position: -7px -60px;
}

.home__li:nth-of-type(6)
{
    background-position: -8px -153px;
}

.home__li:nth-of-type(7)
{
    background-position: -6px -219px;
}

.home__li:nth-of-type(8)
{
    background-position: -8px -185px;
}

.text-align_center
{
    text-align: center;
}

.display_inline-block
{
    display: inline-block;
}

.a__orange
{
    color: #ff5200;
}

.tv-table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.tv-table,
.tv-table__row,
.tv-table__cell
{
    border: 1px solid #000;
}

.article-categories-container_sticky
{
    margin: -12px 0 15px 0;
}

.event
{
    background-color: #ff5200;
    color: #fff;
    font-size: .9em;
    margin-bottom: 10px;
}

/*------------------------------Foooter-------------------------*/

footer
{
    background-color: #e1e1e1;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    margin: 0 -8px -8px;
    border-top: 2px solid black;
    font-size: 1.2em;
    align-items: stretch;
}

.footer__row
{
    flex-basis: 100%;
    display: flex;
    margin: 5px 0;
}

.justify-content_spaces-between
{
    justify-content: space-between;
}

.footer__row__item
{
    flex-basis: 50%;
}

.footer__hr
{
    width: 100%;
    margin: 2% 0;
    flex-basis: 100%;
}

.footer__partners
{
    display: flex;
    align-items: center;
}

.footer__partners__item
{
    margin: 0 60px 0 0;
}
